.container {
    max-width: 360px;
    margin: 0 auto;
    display: flex;
    border: 1px solid #ccc;
}
/* Flex Item */
.item {
    flex: 1;
    margin: 5px;
    background: rgb(46, 209, 209);
    text-align: center;
    font-size: 1.5em;
}

h1 {
    text-align: center;
    margin: 20px;
    font-size: 1.25em;
    font-weight: normal;
}
.nowrap {
    flex-wrap: nowrap;
}
.wrap {
    flex-wrap: wrap;
}
.wrap-reverse {
    flex-wrap: wrap-reverse;
}
